*{
  padding: 0;
  margin: 0;
}
.gradient-custom-3 {

  background: #84fab0;

  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

  background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
}

body {
  background: #84fab0;

  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

  background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
  
  background-size: cover;
  justify-content: center;
  display: flex;
}

/* .container {
  position: relative;
  margin-top: 100px;
  width: 500px;
  height: 500px;
  background: #fff;
  border-radius: 10px;
  border: 0.2px solid black;
} */

/* .image1{
  align-items: center;
  justify-content: center;
  margin-left: 143px;
} */
/* 
.label {
  padding: 20px 130px;
  font-size: 35px;
  font-weight: bold;
  color: #130401;
}

.login_form {
  padding: 20px 40px;
}

.login_form .font {
  font-size: 18px;
  color: #130f40;
  margin: 5px 0;
}

.login_form input {
  height: 40px;
  width: 350px;
  padding: 0 5px;
  font-size: 18px;
  outline: none;
  border: 1px solid silver;
}

.login_form .font2 {
  margin-top: 30px;
}

.login_form button {
  margin: 45px 0 30px 0;
  height: 45px;
  width: 365px;
  font-size: 20px;
  color: aliceblue;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  background: #1A237E;
  border-radius: 3px;
  border: 1px soild #3949AB;
  transition: .5s;
}

.login_form button:hover {
  background: #151c6a;
}

.login_form #email_error,
.login_form #pass_error {
  margin-top: 5px;
  width: 345px;
  font-size: 18px;
  color: #C62828;
  background: rgba(255, 0, 0, 0.1);
  text-align: center;
  padding: 5px 8px;
  border-radius: 3px;
  border: 1px solid #EF9A9A;
  display: none;
} */ 

a {
  margin: 10 px;
}
.gradient-custom-4 {

  background: #84fab0;

  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

  background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
} 