 .gradient-custom-3 {

    background: #84fab0;

    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
} 
.gradient-custom-4 {

    background: #84fab0;

    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
} 

/* 
 .login_form #email_error,
.login_form #pass_error {
    margin-top: 5px;
    width: 345px;
    font-size: 18px;
    color: #937e7e;
    background: rgba(255, 0, 0, 0.1);
    text-align: center;
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid #EF9A9A;
    display: none;
}

.login_form button:hover {
    background: #151c6a;
    color: aliceblue;
}  */